
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 10px;
}

.ogg{
  display: inline-block;
  padding: 5px;
  position: relative;

}
.red{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}
.green{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.like{
  height: 30px;
  width:30px;
  position: absolute;

  left: 50%;
  bottom: 15px;
  /*display: none;*/
  z-index: 10;
  visibility: hidden;
}
.like:hover{
  visibility: visible;
}
